.u-section-1 {
  background-image: url("images/7289fdd29c7daba6cd79e45198102a54df0a3d89f71a36c01f30bfd2ec6ac86de53495557f54cbfd1bc252e8ca95fa3e9cbb2b6c761047360223d1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-group-1 {
  width: 785px;
  min-height: 116px;
  height: auto;
  margin: 189px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 0.8;
  animation-duration: 1000ms;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Alex Brush";
  text-transform: none;
  font-weight: normal;
  margin: 0 -46px 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 455px;
  height: auto;
  width: 785px;
  margin: 0 auto 43px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 68.24% 78.24%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 52.34% 45.53%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: 20px;
    margin-bottom: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 41.41% 4.95%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 705px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 762px;
  animation-duration: 1000ms;
  font-weight: normal;
  margin: 100px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 267px;
  grid-gap: 15px 15px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin: 34px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  margin: 28px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin: 34px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: normal;
  margin: 28px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 44px;
  width: 44px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  margin: 34px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: normal;
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  min-height: 662px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 735px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 281px;
  height: 490px;
  object-position: 75.4% 100%;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-3 .u-image-2 {
  min-height: 727px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/b709f23b456cd22b77a056a6de71ca80d89adc067cf1e7fde248b043b94242deb9c4561103aa20c65c8b7f3c90d6850caba5e3a2be69602451dad1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 16px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 606px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-image-2 {
    min-height: 599px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 386px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 217px;
    height: 292px;
  }

  .u-section-3 .u-image-2 {
    min-height: 459px;
  }

  .u-section-3 .u-text-2 {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 716px;
  }

  .u-section-3 .u-text-1 {
    width: 471px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 296px;
    height: 399px;
    margin-top: 33px;
  }

  .u-section-3 .u-image-2 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 461px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 389px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-2 {
    min-height: 434px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 709px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 2px;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  text-transform: none;
  font-weight: normal;
  margin: 80px auto 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 20px 446px 0 0;
}

.u-section-4 .u-list-1 {
  margin: 47px auto 53px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 228px;
  grid-gap: 20px 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  font-weight: normal;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 246px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    min-height: 188px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/232c6d839624da0ae42d0f0b813ed0e8.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 429px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 41px auto 0;
}

.u-section-5 .u-icon-1 {
  width: 90px;
  height: 90px;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 23px auto 0 175px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 90px;
  height: 90px;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -90px 176px 0 auto;
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  font-size: 2.25rem;
  margin: 20px 759px 0 59px;
}

.u-section-5 .u-text-3 {
  font-style: normal;
  font-size: 2.25rem;
  margin: -173px 50px 29px 769px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 618px;
    margin-left: 0;
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 618px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 398px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
    margin-left: 95px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 72px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 23px;
    margin-right: 284px;
    margin-left: 23px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin: -51px 9px 20px 316px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -5px;
    margin-left: 40px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 31px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -76px;
    margin-right: 0;
    margin-left: 188px;
  }
}

.u-section-5 .u-icon-1,
.u-section-5 .u-icon-1:before,
.u-section-5 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-5 .u-icon-1.u-icon-1.u-icon-1.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  stroke-width: 0px !important;
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-icon-2,
.u-section-5 .u-icon-2:before,
.u-section-5 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-5 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 300px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 106px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 42px auto 35px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-slider-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 63px;
  min-height: 478px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/javier.png");
  background-position: 50% 0%;
  margin: 0 450px;
}

.u-section-7 .u-text-1 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 19px 83px 0;
}

.u-section-7 .u-text-2 {
  width: 237px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/rafael.jpg");
  background-position: 50% 50%;
  margin: 0 450px;
}

.u-section-7 .u-text-3 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 21px 58px 0;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 29px 438px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-7 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/WIN_20231016_01_35_46_Pro.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 8px 0 0;
}

.u-section-7 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  width: 204px;
  margin: 30px auto 0;
}

.u-section-7 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  background-image: none;
}

.u-section-7 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  top: 224px;
  position: absolute;
  right: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-slider-1 {
    width: 940px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 350px;
    margin-right: 350px;
  }

  .u-section-7 .u-text-1 {
    width: 747px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-left: 350px;
    margin-right: 350px;
  }

  .u-section-7 .u-text-3 {
    width: 747px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 338px;
    margin-right: 338px;
  }

  .u-section-7 .u-text-5 {
    width: 747px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-slider-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 240px;
    margin-right: 240px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: 273px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 240px;
    margin-right: 240px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }

  .u-section-7 .u-text-4 {
    width: 273px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-5 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-7 .u-slider-1 {
    width: 540px;
    margin-top: 30px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-7 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-slider-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-7 .u-text-5 {
    width: 320px;
  }
}